<footer>
  <div class="main-content">
    <div class="left box">
      <h2>About us</h2>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, magni! Amet, eos mollitia molestiae
          in numquam pariatur perferendis assumenda magni quae cumque excepturi distinctio reprehenderit explicabo.
        </p>
        <div class="social">
          <a href="" target="_blank"><span class="fab fa-facebook-f logo-facebook"></span></a>
          <a href="" target="_blank"><span class="fab fa-twitter logo-twitter"></span></a>
          <a href="" target="_blank"><span class="fab fa-instagram logo-instagram"></span></a>
          <a href="" target="_blank"><span class="fab fa-youtube logo-youtube"></span></a>
          <a href="https://github.com/supratim531/angular-boot-todo-app"
          target="_blank"><span class="fab fa-github logo-github"></span></a>
        </div>
      </div>
    </div>

    <div class="center box">
      <h2>Address</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt logo-location"></span>
          <span class="text">Kolkata, Dunlop, ISI</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt logo-phone"></span>
          <span class="text">+91-9163681672</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope logo-gmail"></span>
          <span class="text">supratimm531@gmail.com</span>
        </div>
      </div>
    </div>

    <div class="right box">
      <h2>Contact us</h2>
      <div class="content">
        <form action="#">
          <div class="email">
            <div class="text">Email <b>*</b></div>
            <input type="email" required>
          </div>
          <div class="msg">
            <div class="text">Message <b>*</b></div>
            <textarea rows="2" cols="25" required></textarea>
          </div>
          <div class="my_btn">
            <button type="submit" style="border-radius: 15px;">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="bottom">
    <center>
      <span class="credit">
        Created By <a href="https://github.com/supratim531" target="_blank"
          style="text-decoration: none; color: aqua;">supratim531@github</a> |
      </span>
      <span class="far fa-copyright"></span><span> 2022 All rights reserved.</span>
    </center>
  </div>
</footer>
