/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/harry-potter');

.harry-potter {
  font-family: 'Harry Potter', sans-serif;
  text-align: center;
  color:#eeba30;
  font-size: 28px;
  background-color: rgb(2, 3, 97);
}
